body {
    margin: 0;
    background-color: #362B2E;
    color: #A88590;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

header {
    background-color:#f9f0ff;
    overflow: auto;
}

h1 {
    color: #f37b83;
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
    font-weight: 800;
    font-style: normal;
    line-height: 1.2;
    margin: 0 0 40px 0;
}

h1 span {
    display: inline-block;
    color: #492d31;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: 300;
    font-style: normal;
    margin: 45px 0 40px 0;
}

.foto-cv {
    width: 350px;
    float: right;
    border-radius: 50%;
    margin: 50px 50px 50px 50px;
}

header p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 300;
}

.udaje-hlavicka {
    width: 300px;
    float: left;
    color: white;
    background-color: #362B2E;
    text-decoration: none;
    margin: 0 120px 40px 0;
    overflow: auto;
}

header li {
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #f37b83;
    font-size: 15px;
    font-weight: 600;
    margin: 50px 0 50px 0;
}

header li p {
    font-family: 'Poppins', sans-serif;
    color: white;
    margin: 0;
    font-size: 15px;
    font-weight: 400;
}

.menu {
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: #A88590;
    font-weight: 400;
}

.menu li {
    display: inline-block;
}

.menu a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 20px 30px;
}

.menu a:hover,
.menu a:focus,
.menu a:active {
    background-color: #362A2E;
}

.zkusenosti {
    overflow: auto;
    padding: 30px 20px;
    margin: 70px 70px 0 70px;
    background-color: #292023;
}

.zkusenosti ul {
    list-style-type: circle;
    margin: 30px;
    line-height: 1.5;
}

.zkusenosti li {
    margin-bottom: 10px;
}

.nadpis-h2 {
    color: #f37b83;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 800;
}

.h2-zkusenosti {
    margin-left: 330px;
}

.foto-us {
    float: left;
    border-radius: 50%;
    margin: 0 80px 180px 30px;
}

.kurzy {
    float: left;
    overflow: auto;
    padding: 30px 20px;
    margin: 70px 0 70px 70px;
    width: 40%;
    background-color: #292023;
}

.h2-kurzy {
    margin-left: 270px;
}

.kurzy ul {
    list-style-type: circle;
    margin: 30px;
    line-height: 1.5;
}

.kurzy li {
    margin-bottom: 20px;
}

.foto-czechitas {
    float: left;
    border-radius: 50%;
    margin: 0 80px 180px 30px;
    width: 160px;
}

.skoly {
    float: right;
    overflow: auto;
    padding: 30px 20px;
    margin: 70px 70px 0 0;
    width: 40%;
    background-color: #292023;
}

.img-skoly {
    width: 220px;
    float:left
}

.h2-skoly {
    margin-left: 215px;
}

.skoly ul {
    list-style-type: circle;
    /* margin: 30px; */
    line-height: 1.5;
}

.skoly li {
    margin: 50px 0 92px 0;
}

.skoly p {
    margin-top: 10px;
}

.foto-vse {
    float: left;
    border-radius: 50%;
    margin: 0 80px 30px 30px;
    width: 130px;
}

.foto-ulm {
    border-radius: 50%;
    margin: 0 80px 30px 30px;
    width: 130px;
}

.certifikaty {
    clear: left;
    padding: 50px 80px;
    margin: 70px 70px 70px 70px;
    background-color: #292023;
}

.certifikaty img {
    width: 33%;
}

.h2-certifikaty {
    text-align: center;
    margin-top: 0;
}

.sport {
    padding: 50px 60px;
    margin: 70px 70px 70px 70px;
    background-color: #292023;
}

.sport ul {
    list-style-type: circle;
    margin: 30px;
    line-height: 1.5;
}

.sport li {
    margin-bottom: 20px;
}

.sport p {
    margin: 0;
}

.foto-slalom {
    float: left;
    width: 330px;
    border-radius: 50%;
    margin: 0 80px 180px 30px;
}

.h2-sport {
    margin: 0 0 50px 435px;

}

.paticka {
    background-color: #292023;
    text-align: center;
    padding: 30px 20px;
}

.paticka p {
    margin: 0;
}
